@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #172033;
    background-color: #f7f8fb;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
